:root{
    --siteGray:#6C757D;
    --bgGray:#F5F5F5;
    --darkGray:#3D464D;
    --siteColor:#FFD334;
}

body{
    background-color: var(--bgGray);
}

.text-site {
    color:var(--siteColor);
}
.text-gray{
    color:var(--siteGray) !important;
}
.text-lgray{
    color:#bbb !important;
}
.text-dGray{
    color:var(--darkGray) !important;
}
.border-gray{
    border:1px solid var(--darkGray);
}
.border-lgray{
    border:.5px solid #bbb;
}
.bg-gray{
    background-color: var(--bgGray);
}
.bg-site{
    background-color: var(--siteColor);
}
.bg-dGray{
    background-color: var(--darkGray);
}
.p-6{
    padding:0 .3rem;
}

.btn-white{
    background-color: #fff;
}
.fs-9{
    font-size: .9rem;
}
.fs-7{
    font-size: .7rem;
}
.fs-65{
    font-size: .65rem;
}
.f-8{
    font-size: .8rem;
}
.w-35{
    width:35%;
}
.fs-0{
    font-size: 2.8rem;
}
.mx-0{
    margin-left:-12px;
}

.links a:hover{
    text-decoration: underline !important;
}

.dropdown .btn{
    border-radius: 0;
}
.dropdown .btn:hover{
    background-color: var(--bgGray);
    border:1px solid #fff;
    outline: 1px solid #6c757d2a;
}

.form-control::placeholder{
    color:#999;
}

.multiColor{
    background-color: #fff;
    color:var(--darkGray) !important;
}

.shopColor{
    color:#fff !important;
    background-color: var(--siteColor);
}

.bg-nav{
    background-color: var(--darkGray);
    padding-top:0;
    padding-bottom: 0;
}

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
   
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

    .navbar-nav .nav-link.active{
        color:var(--siteColor) !important;
    }

    .submenulinks{
        border-bottom: 1px solid var(--bgGray);
    }
    .submenulinks:hover{
        color:var(--darkGray)!important;
        background-color: transparent;
    }

    .homeCaption{
        background-size: cover;
        background-position: center center;
        height: 55vh;
    }

    .homeCaption1{
        background-image: linear-gradient(rgba(3,3,3,.5),rgba(3,3,3,.5)),url("../img/carousel-1.jpg");

    }
    .homeCaption2{
        background-image: linear-gradient(rgba(3,3,3,.5),rgba(3,3,3,.5)),url("../img/carousel-2.jpg");

    }
    .homeCaption3{
        background-image: linear-gradient(rgba(3,3,3,.5),rgba(3,3,3,.5)),url("../img/carousel-3.jpg");

    }

   

    .homeCaption a:hover{
        background-color: #fff;
        color:var(--darkGray) !important;
    }
    .carousel-indicators [data-bs-target]{
        width:15px;
        height:15px;
        background-color: transparent;
        border:1px solid #fff;
    }

    .homeCaption h3{
        transform: translateY(-100px);
        animation-name: heading;
        animation-duration:1s;
        animation-fill-mode: forwards;
        transition: all 1s;
    }
    
    @keyframes heading {
        0%{
            transform: translateY(-100px);
        }
        100%{
            transform: translateY(0);

        }
    }

    .homeCaption p {
        animation-name: paragraph;
        transition: all 1s;
        animation-duration:1s;
        animation-fill-mode: forwards;

    }
    @keyframes paragraph {
        0%{
            transform: scaleX(.5)
        }
        50%{
         transform:scaleX(1.1)
        }
       
        100%{
            transform: none;
        }
    }


    .homeCaption a{
        display: inline-block;
        transition: all 1s;
        animation-name: anchor;
        animation-duration:1s;
        animation-fill-mode: forwards;
        transform: translateY(100px);

    }

    @keyframes anchor {
        0%{
            transform: translateY(100px);
        }
        100%{
            transform: translateY(0);
        }
    }



    .carousel-indicators .active {
        width:40px;
        background-color: #fff;

    }


    .w-p{
        width:90%;
    }

    .homeRight img, .homeRight a,.offer img,.offer a{
      transition: all 1s;
    } 
    .homeRight:hover img,.offer:hover img{
    transform: scale(1.2) rotate(5deg);
   }
    .homeRight a,.offer a{
        background-color: #ffd334c7;
    }
    a:hover ,a:hover{
        background-color:var(--siteColor);
    }
  
    .homeRight{
        height:auto
    }
   
      .categories h2::after,.Featured h2::after,.Recent h2::after,.shop h5::after,.AlsoLike h2::after{
        content:"";
        border:.5px dashed var(--darkGray);
        position: absolute;
        top:50%;
        right:0;
    
    }  

    .categories h2::after{
        width:calc(100% - 150px);
    }

    .Featured h2::after{
       width:calc(100% - 280px);
    }
    .AlsoLike h2::after{
        width:calc(100% - 280px);
    }

    .Recent h2::after{
        width:calc(100% - 210px);
     }
     .shop h5::after{
        width:calc(100% - 160px);
     }
    

  
    .category .catInfo,.category img, .featuredCard img{
        transition: all .5s;
    }
    .catImage{
        padding-left:0px;
    }
    
    .category:hover .catInfo{
          background-color: var(--siteColor);
    }
    .category:hover img{
        transform: scale(1.2) rotate(5deg);
    }

    .featuredCard .featuredsocials{
        transition: all .2s;
        top:100%;
    }
    .featuredCard:hover .featuredsocials{
       top:0 
    }
    .featuredsocials i {
        transition: all .2s;
        transform:translateY(800%);
    }
    .featuredCard:hover .icon1{
        transition-delay: .2s;
        transform:translateY(0);

  }
    .featuredCard:hover .icon2{
          transition-delay: .3s;
          transform:translateY(0);

    }
     .featuredCard:hover .icon3{
        transition-delay: .35s;
        transform:translateY(0);

  }
    .featuredCard:hover .icon4{
    transition-delay: .4s;
    transform:translateY(0);

   } 

    .featuredCard:hover img{
        transform: scale(1.2);
    }
    .featuredsocials i:hover{
        color:var(--siteColor) !important;
        background-color: var(--darkGray);
        cursor: pointer;
    } 

    .productTitle:hover{
        color:var(--siteColor) !important;
    }

    footer a:hover{
        text-decoration: underline !important;
        color:var(--siteGray) !important;
        background-color: transparent;
    }
    .socaials a:hover{
        text-decoration: none !important;
        color:var(--siteColor) !important;
        background-color: var(--siteGray);
    }
    .border-footer{
        border-bottom:1px solid var(--siteGray);
    }


    .breadcrumb a:hover{
        text-decoration: underline !important;
        background-color: transparent;
    }

    .pagination a:hover{
        background-color: var(--siteGray);
        color:var(--siteColor) !important;
    }

    .nav-tabs .nav-link.active{
        background-color: #F5F5F5;
    }

    .AddInfo{
        border-bottom: .5px dashed #DFDFDF;
    }
    .nav-tabs .nav-link{
        color:var(--darkGray);
    }
   .AlsoLike .owl-item{
        width:calc(100%);
        display: inline-block;

    }
    .owl-nav {
        display: none;
    }
@media  screen and (min-width:576px){
    .Featured h2::after{
        width:calc(100% - 280px);
     }
}

@media  screen and (min-width:768px){
   .AlsoLike .owl-item{
        width:calc(100%/2 );
    }
}

@media screen and (min-width:992px){
    .multiColor{
        background-color: var(--darkGray);
        color:var(--siteColor) !important;
    }
    
    .shopColor{
        color:var(--darkGray) !important;
    }

    .bg-logo{
        background-color: #fff;
    }

    .w-p{
        width:60%;
    }

    .homeRight{
        height:calc(55vh/2 - .8rem);
    }
    .Featured h2::after{
        width:calc(100% - 350px);
     }
     .categories h2::after{
        width:calc(100% - 170px);
    }
    .Recent h2::after{
        width:calc(100% - 250px);
     }
     .AlsoLike h2::after{
        width:calc(100% - 350px);
    

    .AlsoLike .owl-item{
        width:calc(100%/4 );
    }
    
}